#*********************************************************************
# Copyright (c) Intel Corporation 2020
# SPDX-License-Identifier: Apache-2.0
#*********************************************************************/

# This workflow will release new versions when required using semantic-release

name: Semantic-Release CI

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write  # for Git to git push
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Use Node.js 24.x
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "24.x"
      - run: npm ci
      - run: npm run build-ext --if-present
      - run: rsync -a package.json README.md ./dist/
      - name: Semantic Release
        id: semantic
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
        with:
          semantic_version: 25.0.2 # It is recommended to specify version range for semantic-release.
        env:
          GITHUB_TOKEN: ${{ secrets.ROSIE_TOKEN }}
      - name: Publish to @device-management-toolkit
        if: steps.semantic.outputs.new_release_published == 'true'
        run: |
          echo "Publishing @device-management-toolkit/ui-toolkit-react@${{ steps.semantic.outputs.new_release_version }}"
          
          sed -i 's/"@open-amt-cloud-toolkit\/ui-toolkit-react"/"@device-management-toolkit\/ui-toolkit-react"/' dist/package.json
          sed -i 's/"version": "[^"]*"/"version": "${{ steps.semantic.outputs.new_release_version }}"/' dist/package.json
          cd dist
          npm publish